.cuisineDistrictPrice div {
  text-decoration: underline;
}

.foodDecorService {
  text-transform: uppercase;
  width: 40%;
}

.foodDecorService div {
  width: 33%;
  height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mainDivider {
  position: relative;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  font-size: 2px;
}

.mainDivider img {
  position: absolute;
  right: 100px;
  top: -7px;
}

.theTagazReview {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cuisineDistrictPrice {
  margin-bottom: 20px;
}

.foodDecorServiceLine {
  width: 325px;
}

.bodyDescriptionBox {
  margin-top: 20px;
  width: 90%;
}