.cuisineDistrictPrice div {
  text-decoration: underline;
}

.foodDecorService {
  width: 30%;
}

.foodDecorService div {
  width: 33%;
  height: 50px;
}

.mainDivider {
  position: relative;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  font-size: 2px;
}

.mainDivider img {
  position: absolute;
  right: 100px;
  top: -7px;
}

.theTagazReview {
  margin-top: 20px;
}

.cuisineDistrictPrice {
  margin-bottom: 20px;
}

.foodDecorServiceLine {
  width: 215px;
}
